In [ ]:
# !pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.11-py3-none-any.whl.metadata (32 kB)
Requirement already satisfied: packaging in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from requests->kagglehub) (2024.12.14)
Requirement already satisfied: colorama in c:\users\asus\appdata\roaming\python\python312\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.11-py3-none-any.whl (63 kB)
   ---------------------------------------- 0.0/63.4 kB ? eta -:--:--
   ------ --------------------------------- 10.2/63.4 kB ? eta -:--:--
   ---------------------------------------- 63.4/63.4 kB 844.1 kB/s eta 0:00:00
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.11

In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("heesoo37/120-years-of-olympic-history-athletes-and-results")

# print("Path to dataset files:", path)

c:\Users\Asus\miniconda3\envs\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/heesoo37/120-years-of-olympic-history-athletes-and-results?dataset_version_number=2...

100%|██████████| 5.43M/5.43M [00:02<00:00, 2.52MB/s]

Extracting files...

Path to dataset files: C:\Users\Asus\.cache\kagglehub\datasets\heesoo37\120-years-of-olympic-history-athletes-and-results\versions\2

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('athlete_events.csv')
regions_df = pd.read_csv('noc_regions.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
regions_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [5]:
df = df[df['Season'] == 'Summer']

In [6]:
df.shape

(222552, 15)

In [8]:
df = df.merge(regions_df,on = 'NOC',how = 'left')